            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            
            body {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            
            .container {
                background-color: #eec0c6;
                background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100vh;
            }
            
            .subcontainer {
                display: flex;
                width: 65%;
                box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
            }
            
            .general-information {
                background-color: #fff;
                border-radius: 5px;
                padding: 32px;
                width: 50%;
            }
            
            .contact-details {
                background-color: #4169e1;
                border-radius: 5px;
                padding: 32px;
                width: 50%;
            }
            
            .G-i {
                color: lightseagreen;
                font-weight: 600;
            }
            
            .title,
            .position,
            .company {
                width: 100%;
                border: none;
                border-bottom: 1px solid grey;
            }
            
            input:focus {
                outline: none;
            }
            
            .text {
                width: 49%;
                border: none;
                border-bottom: 1px solid grey;
            }
            
            input::placeholder {
                font-size: 13px;
            }
            
            .c-details {
                color: #fff;
                font-weight: 600;
            }
            
            .stret,
            .add,
            .z,
            .p,
            .cntry {
                width: 100%;
                border: none;
                outline: none;
                background-color: #4169e1;
                border-bottom: 1px solid white;
            }
            
            .stret::placeholder,
            .add::placeholder,
            .z::placeholder,
            .p::placeholder,
            .cntry::placeholder {
                color: #fff;
            }
            
            .z {
                width: 30%;
            }
            
            .p {
                width: 60%;
            }
            
            .z-and-place {
                display: flex;
                justify-content: space-between;
            }
            
            span {
                color: #fff;
                font-size: 14px;
            }
            
            .submit {
                background-color: white;
                color: #4169e1;
                border: none;
                border-radius: 30px;
                width: 50%;
                font-weight: bold;
                height: 30px;
            }
            
            .txt-red {
                color: rgb(229, 255, 0);
                font-size: 14px;
                margin-left: 100px;
            }
            
            .df {
                background-image: linear-gradient (315deg, #eec0c6 0%, #7ee8fa 74%);
                width: 100%;
                height: 100vh;
            }